* {
    padding: 0;
    margin: 0;
}

/* -------------dialog----------------- */
#todo-input-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#todo-input-dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: (0, 0, 0, 0.1);
}

#todo-input-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding: 10px;
}

#des-input {
    height: 120px;
}

.todo-input-label {
    display: inline-block;
    width: 90px;
    padding-top: 5px;
}

#input-todo-submit-btn {
    margin-top: 10px;
    font-size: 16px;
}

#todo-input-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#close-dialog-btn {
    position: absolute;
    top: 3px;
    right: 7px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* ----------content display-------------- */
#content {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
}

#side-bar {
    border: 1px solid black;
}



/* -------------header----------------- */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
}

#header p {
    font-family: "TASA Explorer";
    font-size: 36px;
    margin-left: 8px;
}

#header img {
    width: 40px;
    margin-right: 8px;
}

/* -------------side bar----------------- */
.nav-btn {
    display: flex;
    justify-content: center;
}


