* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* animate format for special kind button */
.animate-btn:hover {
    transform: scale(1.05);
    background-color: grey;
    filter: invert(1);
}

.animate-btn:active {
    transform: scale(0.98);
}

/* for all the element to hide or toggle */
.hide {
    display: none;
}

/* -------------add todo dialog----------------- */
#todo-input-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: 1px solid black;
}

#todo-input-dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: (0, 0, 0, 0.1);
}

#todo-input-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding: 10px;
}

#des-input {
    height: 120px;
}

.todo-input-label {
    display: inline-block;
    width: 90px;
    padding-top: 5px;
}

#input-todo-submit-btn {
    margin-top: 10px;
    font-size: 16px;
}

#todo-input-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#close-dialog-btn {
    position: absolute;
    top: 3px;
    right: 7px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}


/* ----------content structure---------- */
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
}

#main-content {
    margin: 5px;
    margin-top: 4px;
    margin-left: 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(180, 180, 180);
    width: auto;
}

/* -------------header----------------- */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0 2px 2px rgba(100, 108, 162, 0.1);;
    background-color: #646ca2;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(180, 180, 180);
    margin: 4px;
    margin-bottom: -1px;
    margin-right: 5px;
}    


#header p {
    font-family: "TASA Explorer";
    font-size: 36px;
    margin-left: 8px;
}

#header img {
    width: 40px;
    margin-right: 8px;
    filter: invert(1);
}

/* -------------side bar----------------- */
#side-bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
    padding-left: 0.3em;
    width: 12vw;
    /* border effection */
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    margin-top: 4px;
    margin-left: 3px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(180, 180, 180);
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 0;
    border-radius: 5px;
}


.nav-btn p {
    width: 60%;
    padding-left: 8px;
    font-size: 18px;
}



/* project list in side-bar */

#projects-in-sidebar-container {
    margin-top: -12px;
    padding-top: 5px;
    margin-right: 4px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.5);

}

.project-in-sidebar {
    display:flex;
    align-items: center;
    justify-content: start;
    margin-left: 1.9em;
    gap: 0.4em;
}

.project-in-sidebar p {
    font-size: 17px;
    white-space: nowrap;
    overflow: scroll;
}

.project-in-sidebar img {
    width: 1em;
}

#add-project-btn {
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
    margin-left: 26px;
    margin-top: -10px;
    display: flex;
    padding-left: 15px;

}



#add-project-dialog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    gap: 7px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 6px 8px;
    padding-top: 8px;
    border-radius: 4px;

}

#add-project-dialog-container input {
    grid-column: span 2;
    height: 22px;
}

#add-project-dialog-container button {
    height: 22px;
}

.project-in-sidebar {
    display: flex;
    align-items: center;
}

.project-in-sidebar img:nth-of-type(2) {
    margin-left: auto;
    margin-right: 18px;
}

 /* the edit project popup button */
.edit-project-popup-menu {
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    left: calc(100% - 15px);
    background-color: white;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: 
        opacity 0.2s ease,
        transform 0.2s ease;
}

.edit-project-popup-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.project-in-sidebar {
    position: relative;
}

.rename-project-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
}

.rename-project-wrap input {
    grid-column: 1 / -1;
}

.rename-project-btn, .cancel-rename-btn {
    border: 1px solid black;
    padding: 2px;
}

/* ------------main content---------------- */

#add-new-todo-btn {
    display: block;
    margin: 15px auto;
    width: 36px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

#add-new-todo-btn:hover {
    transform: rotate(180deg);
}

.project-item, #empty-block {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 12px 12px 4px 18px;
    font-size: 18px;
    padding-bottom: 2px;
    padding-left: 4px;
}


/* project item */
.project-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.project-item img {
    width: 1em;
    margin-right: 0.3em;
    transition: transform 0.2s linear;

}

.project-item:hover img {
    transform: rotate(90deg);
}

.project-item p {
    font-family: "TASA explorer";
}

/* todo item */
.todo-and-description-wrap {
    width: 90%;
}



.todo-wrap {
    margin-left: 45px;
    margin-top: 8px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.todo-title {
    padding: 2px 0 2px 8px;
}

#empty-block {
    height: 24px;
}

.todo-priority, .todo-project{
    width: 80px;
    padding-left: 10px;
}

.todo-isDone-item, .todo-priority-item, .todo-project-item {
    display: flex;
    align-items: center;
    gap: 3px;
    flex: 0 0 150px;
}

.todo-project-item {
    margin-left: 10px;
}

.todo-project-item p {
    width: 62px;
}

.todo-priority-item p {
    width: 64px;
}


.todo-duedate-item-wrap {
    display: flex;
    align-items: center;
    gap: 3px;
    flex: 0 0 180px;
}

.todo-duedate-item {
    display: flex;
    align-items: center;
    gap: 3px;    
}

.todo-duedate-item p {
    width: 73px;
}

.todo-isDone-item {
    flex: 0 0 120px;
    margin-left: 10px;
}

.todo-isDone-item > p {
    overflow: scroll;
    white-space: nowrap;
    max-width: calc(120px - 20px);
    flex: 1;
}

.delete-item {
    margin-left: auto;
    margin-right: 8px;
}

.todo-description {
    background-color: rgb(255, 249, 219);
    margin-left: 45px;
    margin-top: 5px;
    width: auto;
    padding: 4px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    line-height: 1.2;
}


/* --------------delete todo warning dialog ------------------*/
#delete-todo-warning-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border: 1px solid grey;
}

#delete-todo-warning-dialog::backdrop {
    backdrop-filter: blur(2px);
}

#delete-todo-warning-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#delete-todo-warning-sign {
    width: 36px;
    filter: invert(23%) sepia(97%) saturate(7445%) hue-rotate(0deg) brightness(95%) contrast(101%);
}

#delete-todo-warning-text-wrap {
    height: 220px;
    padding: 40px 50px;
    text-align: justify;
}

#delete-todo-warning {
    height: auto;
    flex: 1 0 auto;
    text-align: center;
    margin: 0 auto;
}

#delete-todo-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 18px;
}

#delete-todo-yes-btn, #delete-todo-cancel-btn {
    width: 90px;
    height: 25px;
}